<!DOCTYPE html>
<html lang = "en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
<head>
	<meta charset = "UTF-8">
	<title>Book Store</title>
	<link href="BuyBooks.css" type="text/css" rel="stylesheet"></style>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="container">
	<div class="header"><h1>BooksKart</h1></div>

		<div ng-app="MyApp" ng-controller="control">

			<p style="font-size: medium; font-family: Courier; margin-left: 15px;"><b>Wanna Know more?</b><input type="checkbox" ng-model="checked" aria-label="Toggle ngShow"></p>
			<div class="check-element animate-show-hide" ng-show="checked">
				<br>
				<label style=" margin: auto; font-family: Courier;margin: 15px;"><b>Search: </b><input id="ip" type="text" ng-model="searchText" placeholder="Search Book"/></label>
				<br>
				<br>
				<table id="searchTextResults">
					<tr><th>Name</th><th>Author</th><th>Rating</th><th>Genre</th></tr>
					<tr ng-repeat='boo in booksDesc | filter:searchText'>
						<td>{{boo.name}}</td>
						<td>{{boo.Author}}</td>
						<td>{{boo.Rating}}</td>
						<td>{{boo.Genre}}</td>
					</tr>
				</table>
				<br>
			</div>

			<table>
				<tr>
					<th>Book Title</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
				<tr>
					<td>1. Divergent Series</td>
					<td>{{ p1 | currency }}</td>
					<td><input type="number" ng-model="b1" id="b1" min="0"/></td>
					<td>{{p1 * b1 | currency}}</td>
				</tr>
				<tr>
					<td>2. Carve the Mark</td>
					<td>{{ p2 | currency }}</td>
					<td><input type="number" ng-model="b2" id="b2" min="0"></td>
					<td>{{p2 * b2 | currency}}</td>
				</tr>
				<tr>
					<td>3. Six of Crows</td>
					<td>{{ p3 | currency }}</td>
					<td><input type="number" ng-model="b3" id="b3" min="0"></td>
					<td>{{p3 * b3 | currency}}</td>
				</tr>
				<tr>
					<td>4. Folk of the Air</td>
					<td>{{ p4 | currency }}</td>
					<td><input type="number" ng-model="b4" id="b4" min="0"></td>
					<td>{{p4 * b4 | currency}}</td>
				</tr>
				<tr>
					<td>5. Inheritance Cycle</td>
					<td>{{ p5 | currency }}</td>
					<td><input type="number" ng-model="b5" id="b5" min="0"></td>
					<td>{{p5 * b5 | currency}}</td>
				</tr>
				<tr id="lastrow">
					<td>Total Amount:</td>
					<td colspan="3" id="lastrowlastcol">${{totalAmt()}}</td>
				</tr>
			</table>

			<div class="header">
				<form action="PaymentPage.html" target="_blank">
				<center><button type="submit"><b>Proceed to Payment<b></button></center>
				</form>
			</div>
		

			<!--<div ng-init = "booksDesc = [
			{name: 'Divergent Series', Author: 'Veronica Roth', Rating: '5/5', Genre: 'Sci-Fi, Dystopia, YA'},
			{name: 'Carve the Mark Series', Author: 'Veronica Roth', Rating: '4/5', Genre: 'Sci-Fi, YA'}
			{name: 'Six of Crows Series', Author: 'Leigh Bardugo', Rating: '4.4/5', Genre: 'Fantasy, YA'}
			{name: 'Folk of the Air', Author: 'Holly Black', Rating: '4.1/5', Genre: 'Fantasy-Fiction'}
			{name: 'The Inheritance Cycle', Author: 'Christopher Paolini', Rating: '4.1/5', Genre: 'YA, ‎High fantasy'}
			]"></div>-->
			
			<!--<details ng-model="myClick" style="font-size: smaller; font-family: Courier;">
				<div class="jsAnime" ng-show="myClick">
				<summary>Wanna know more?!</summary>
				<br>
				
				<label style=" margin: auto">Search: <input id="ip" type="text" ng-model="searchText" placeholder="Search Book"/></label>
				<br>
				<br>
				<table id="searchTextResults">
					<tr><th>Name</th><th>Author</th><th>Rating</th><th>Genre</th></tr>
					<tr ng-repeat='boo in booksDesc | filter:searchText'>
						<td>{{boo.name}}</td>
						<td>{{boo.Author}}</td>
						<td>{{boo.Rating}}</td>
						<td>{{boo.Genre}}</td>
					</tr>
				</table>
				</div>
			</details>-->

			
		</div>

	
</div>
<script type="text/javascript" src="BuyBooks.js"></script>
</body>
</html>